<%- include('../../partials/head' , { title: 'Cars' }) %>
<%- include('../../partials/sidebar') %>
<%- include('../../partials/header') %>

<main class="content">
    <div class="container-fluid p-0">

        <div class="row align-items-center mb-3">
            <div class="col-6">
                <div class="h2">
                    Cars
                </div>
            </div>

            <div class="col-6 text-end">
                <a class="btn btn-success" href="/admin/cars/add">
                    +Add
                </a>
            </div>

        </div>

        <div class="row cars">
            <% cars.forEach((car)=> { %>
                <div class="col-md-6 mb-4 car-<%= car.id %>">
                    <div class="card">
                        <img style="height: 400px; object-fit: contain; margin-top: 40px;" src="/cars/<%= car.image %>" class="card-img-top" alt="<%= car.title %>">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= car.name %>
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                <%= car.email %>
                            </h6>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">
                              
                            </small>
                            <div class="float-end">
   
                                <a href="/admin/cars/edit/<%= car.id %>"
                                    class="btn btn-sm btn-outline-secondary me-2">Edit</a>
                                <button type="button" class="btn btn-sm btn-outline-danger delete-data"
                                    data-data="car" data-title="<%= car.model %>"
                                    data-id="<%= car.id %>"
                                    data-href="/admin/cars/delete/<%= car.id %>">Delete</button>
                 
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>


    </div>
</main>

<%- include('../../partials/footer') %>