<%- include('../partials/head' , { title: 'Profile' }) %>
<%- include('../partials/header') %>

<style>
    .navbar{
        background-color: black !important;
        top:0 !important
    }
</style>

<section style="margin-top: 100px;">
    <div class="container">
		<div class="main-body">
			<div class="row">
				<%- include('../partials/profile-sidebar') %>
				<div class="col-lg-8">
					<div class="card">
						<div class="card-body">
                            <form action="/customer/profile/save" method="POST">
    
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Name</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" name="name" class="form-control" value="<%=customer.name%>">
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Email</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" name="email" class="form-control" value="<%=customer.email%>">
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Phone</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" name="phone" class="form-control" value="<%=customer.phone%>">
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Address</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<textarea class="form-control" name="address" id="" cols="30" rows="10"><%=customer.address%></textarea>
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Birthday</h6>
								</div>
								<div class="col-sm-9 text-secondary">
                                    <% const birthday = new Date(customer.birthday); %>
                            		<% const birthdayString = birthday.toISOString().substr(0, 10); %>
									<input type="date" name="birthday" class="form-control" value="<%=birthdayString%>">
								</div>
							</div>
							<div class="row">
								<div class="col-sm-3"></div>
								<div class="col-sm-9 text-secondary">
									<button type="submit" class="btn btn-primary">Save</button>
								</div>
							</div>
                        </form>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>

<%- include('../partials/footer') %>