<%- include('../partials/head' , { title: 'Reservations' }) %>
<%- include('../partials/header') %>

<style>
    .navbar{
        background-color: black !important;
        top:0 !important
    }
</style>

<section style="margin-top: 100px;">
    <div class="container">
		<div class="main-body">
			<div class="row">
				<%- include('../partials/profile-sidebar') %>
                <% for (const reservation of reservations) { %>
                    <div class="col-lg-4">
                        <div class="card mb-4">
                            <img src="/cars/<%= reservation.car.image %>" class="card-img-top" alt="<%= reservation.car %>">
                            <div class="card-body">
                                <h5 class="card-title">Car Reservation</h5>
                                <p class="card-text"><strong>Car:</strong> <%= reservation.car.brand.name %> <%= reservation.car.model %></p>
                                <p class="card-text"><strong>From:</strong> <%= new Date(reservation.start_date).toLocaleDateString('en-US', { day: 'numeric', month: 'long', year: 'numeric' }) %></p>
                                <p class="card-text"><strong>To:</strong> <%= new Date(reservation.end_date).toLocaleDateString('en-US', { day: 'numeric', month: 'long', year: 'numeric' }) %></p>
                                <p class="card-text"><strong>Time:</strong> <%= reservation.time %></p>
                                <p class="card-text"><strong>Duration:</strong> <%= reservation.duration %></p>
                                <p class="card-text"><strong>Cost:</strong> $<%= reservation.cost %></p>
                                <p class="card-text"><strong>Status:</strong> <%= carStatus(reservation.start_date, reservation.end_date, reservation.is_delivered) %></p>
                            </div>
                        </div>
                    </div>
                    <% } %>
                
			</div>
		</div>
	</div>
</section>

<%- include('../partials/footer') %>