<%- include('../partials/head' , { title: 'Cars' }) %>
<%- include('../partials/header') %>

<style>
    .navbar{
        background-color: black !important;
        top:0 !important
    }
</style>

<link rel="stylesheet" href="/css/payment.css">

<div class="container">
    <div style="margin-top: 100px;" class="alert alert-success" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
        <hr>
        <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
      </div>
</div>

  
<div class="custom_container">
    <div class="row m-0">
        <div class="col-lg-7 pb-5 pe-lg-5">
            <div class="row">
                <div class="col-12 p-5"> <img src="/cars/<%=reservation.car.image%>" alt=""> </div>
                <div class="row m-0 bg-light">
                    <div class="col-md-4 col-6 ps-30 my-4">
                        <p class="text-muted">Vehicle</p>
                        <p class="h5 m-0"><%=reservation.car.brand.name%> <%=reservation.car.model%></p>
                    </div>
                    <div class="col-md-4 col-6 ps-30 my-4">
                        <p class="text-muted">Gear</p>
                        <p class="h5 m-0"><%=reservation.car.transmission%></p>
                    </div>
                    <div class="col-md-4 col-6 ps-30 my-4">
                        <p class="text-muted">People</p>
                        <p class="h5 m-0"><%=reservation.car.seat%></p>
                    </div>
                    <div class="col-md-4 col-6 ps-30 my-4">
                        <p class="text-muted">Type</p>
                        <p class="h5 m-0"><%=reservation.car.type%></p>
                    </div>
                  
                    <div class="col-md-4 col-6 ps-30 pe-0 my-4">
                        <p class="text-muted">Fuel</p>
                        <p class="h5"><%=reservation.car.fuel%></p>
                    </div>
                    <div class="col-md-4 col-6 ps-30 my-4">
                        <p class="text-muted">Total Price</p>
                        <p class="h5 m-0">$<%=reservation.cost%></p>
                    </div>
                </div>
            </div>
        </div>
  
    </div>
</div>

<%- include('../partials/footer') %>